.login {
  width: 400px;
}

.register {
  width: 400px;
}

.blue {
  color: blue
}

.blue:hover {
  font-size: 15px;
}

.red {
  color: red;
}


@media only screen and (max-width : 768px) {
  .login {
    width: 340px;
    margin-left: 20px;
  }
  .register {
    width: 340px;
    margin-left: 20px;
  }
}
